{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col">

      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="container mt-5">
      <div class="carousel-container position-relative row">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-slide-number="0">
              <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/premium-tomahawk-steak.jpg" class="d-block w-100"
                alt="Premium tomahawk steak" data-type="image" data-toggle="lightbox">
            </div>
            <div class="carousel-item" data-slide-number="1">
              <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/bbq-steak-grill.jpg" class="d-block w-100"
                alt="BBQ steak grill" data-type="image" data-toggle="lightbox">
            </div>
            <div class="carousel-item" data-slide-number="2">
              <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/premium-beef-cuts.jpg" class="d-block w-100"
                alt="Premium beef cuts" data-type="image" data-toggle="lightbox">
            </div>
            <div class="carousel-item" data-slide-number="3">
              <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/medium-rare-premium-steak.jpg" class="d-block w-100"
                alt="Medium rare premium steak" data-type="image" data-toggle="lightbox">
            </div>
            <div class="carousel-item" data-slide-number="4">
              <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/premium-steak-on-grill.jpg" class="d-block w-100"
                alt="Premium steak on grill" data-type="image" data-toggle="lightbox">
            </div>
            <div class="carousel-item" data-slide-number="5">
              <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/tender-beef-cuts.jpg" class="d-block w-100"
                alt="Tender beef cuts" data-type="image" data-toggle="lightbox">
            </div>
            <div class="carousel-item" data-slide-number="6">
              <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/perfectly-cooked-steak.jpg" class="d-block w-100"
                alt="Perfectly cooked steak with asparagus" data-type="image" data-toggle="lightbox">
            </div>
            <div class="carousel-item" data-slide-number="7">
              <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/premium-steak-cuts.jpg" class="d-block w-100"
                alt="Premium steak cuts" data-type="image" data-toggle="lightbox">
            </div>
            <div class="carousel-item" data-slide-number="8">
              <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/pan-servered-premium-steak.jpg" class="d-block w-100"
                alt="Pan servered premium steak" data-type="image" data-toggle="lightbox">
            </div>
            <div class="carousel-item" data-slide-number="9">
              <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/cooking-raw-steak.jpg" class="d-block w-100"
                alt="Cooking raw steak" data-type="image" data-toggle="lightbox">
            </div>
          </div>
        </div>

        <div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row mx-0">
                <div id="carousel-selector-0" class="thumb col-4 col-sm-2 px-1 py-2 selected" data-target="#myCarousel"
                  data-slide-to="0">
                  <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/premium-tomahawk-steak.jpg" class="img-fluid"
                    alt="Premium tomahawk steak">
                </div>
                <div id="carousel-selector-1" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="1">
                  <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/bbq-steak-grill.jpg" class="img-fluid"
                    alt="BBQ steak grill">
                </div>
                <div id="carousel-selector-2" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="2">
                  <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/premium-beef-cuts.jpg" class="img-fluid"
                    alt="Premium beef cuts">
                </div>
                <div id="carousel-selector-3" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="3">
                  <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/medium-rare-premium-steak.jpg" class="img-fluid"
                    alt="Medium rare premium steak">
                </div>
                <div id="carousel-selector-4" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="4">
                  <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/premium-steak-on-grill.jpg" class="img-fluid"
                    alt="Premium steak on grill">
                </div>
                <div id="carousel-selector-5" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="5">
                  <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/tender-beef-cuts.jpg" class="img-fluid"
                    alt="Tender beef cuts">
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row mx-0">
                <div id="carousel-selector-6" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="6">
                  <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/perfectly-cooked-steak.jpg" class="img-fluid"
                    alt="Perfectly cooked steak with asparagus">
                </div>
                <div id="carousel-selector-7" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="7">
                  <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/premium-steak-cuts.jpg" class="img-fluid"
                    alt="Premium steak cuts">
                </div>
                <div id="carousel-selector-8" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="8">
                  <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/pan-servered-premium-steak.jpg" class="img-fluid"
                    alt="Pan servered premium steak">
                </div>
                <div id="carousel-selector-9" class="thumb col-4 col-sm-2 px-1 py-2" data-target="#myCarousel"
                  data-slide-to="9">
                  <img src="https://kelvin-steakout.s3.eu-west-2.amazonaws.com/media/cooking-raw-steak.jpg" class="img-fluid"
                    alt="Cooking raw steak">
                </div>
                <div class="col-2 px-1 py-2"></div>
                <div class="col-2 px-1 py-2"></div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-thumbs" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-thumbs" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row py-5 mb-5">
    <div class="col-12">
      <h1 class="logo-font text-black text-center">
        The best steaks in town!
      </h1>
    </div>
    <div class="col-12 mx-auto">
      <h4 class="text-center">
        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
          Shop Now
        </a>
      </h4>
    </div>
  </div>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  {% include 'home/includes/home_carousel_script.html' %}
{% endblock %}