html {
  height: 100%;
}

body {
  height: calc(100vh - 164px);
  color: #000;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

footer {
  background-color: #0d67b5;
  color: #fff;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
}

#logo {
  margin-left: 9px;
}

.main-logo-link {
  width: fit-content;
}

.shop-now-button {
  background: #0d67b5;
  color: white;
  min-width: 260px;
}

.btn-blue {
  background: #0d67b5;
  color: white;
}

.btn-outline-blue {
  background: white;
  color: #0d67b5 !important;
  border: 1px solid #0d67b5;
}

.btn-outline-blue:hover,
.btn-outline-blue:active,
.btn-outline-blue:focus {
  background: #0d67b5;
  color: white !important;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
  background: #0d67b5;
  color: white;
}

.text-blue {
  color: #0d67b5;
}

.text-black {
  color: #000 !important;
}

.border-blue {
  border: 1px solid #0d67b5 !important;
}

.bg-blue {
  background: #0d67b5 !important;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: -1;
}

a.category-badge>span.badge:hover {
  background: #0d67b5 !important;
  color: #fff !important;
}

/* Index page Carousel */

.carousel {
  position: relative;
}

.carousel-item img {
  object-fit: cover;
}

#carousel-thumbs {
  background: rgba(255, 255, 255, .3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}

#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}

#carousel-thumbs img:hover {
  border-color: rgba(255, 255, 255, .3);
}

#carousel-thumbs .selected img {
  border-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 9999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* From css-tricks.com */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convinience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Media Queries */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
  }

  .header-container {
    padding-top: 180px;
  }

  .newsletter-form {
    width: 75%;
  }
}

@media (max-width: 991px) {
  .header-container {
    padding-top: 116px;
  }

  body {
    height: calc(100vh- 116px);
  }

  .newsletter-form {
    width: 100%;
  }
}

/* Index page carousel media queries */
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}

@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}

@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}