<div class="collapse navbar-collapse bg-blue text-white" id="main-nav">
    <li class="nav-item d-block d-md-none">
        <a class="logo-font font-weight-bold nav-link text-white" href="{% url 'home' %}" id="home-link">
            Home
        </a>
    </li>

    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-white mr-5" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-white mr-5" id="steaks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Steaks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="steaks-link">
                <a href="{% url 'products' %}?category=steaks,sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?category=steaks,sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?category=steaks" class="dropdown-item">All Steaks</a>
            </div>
        </li>

        <li class="nav-item">
            <a href="{% url 'products' %}?category=steak_sauces" class="logo-font font-weight-bold nav-link text-white mr-5" id="steak-sauces-link">
                Steak Sauces
            </a>
        </li>

        <li class="nav-item dropdown">
            <a href="{% url 'products' %}?category=grills" class="logo-font font-weight-bold nav-link text-white mr-5" id="grills-link">
                Grills
            </a>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-white mr-5" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>